<style type="text/css">
    .demo-container {
	    padding:0 20px;
	}

    .demo-container a, .demo-container a:link, .demo-container a:visited, .demo-container a:hover, .demo-container a:focus, .demo-container a:active {
	    color: #009BE3;
    }

    .demo-container ul {
	    list-style-type:none;
	    padding:0;
	    margin:1em 0;
	    width:100%;
	    overflow:hidden;
    }

    .demo-container ul span {
	    color: #A0A600;
    }

    .demo-container li {
	    float:left;
	    margin-right:1em;
    }

    .demo-container p span.track-name {
	    color: #CC0090;
    }
    .demo-container .audio_controls {
        display:none;
    }

</style>
