{% load smartif %}
{%comment%}
    <div id="{{block.id}}-audio">
    {% if block.audio_file %}
    
        <p id="audio_block_{{block.id}}">{{block.audio_file}}</p>
       
        <script type="text/javascript">
        
            AudioPlayer.embed("audio_block_{{block.id}}", {
                soundFile: "/uploads/{{block.audio_file}}",
                noinfo: 'yes',
                animation: 'no',
                initialvolume : '100',
                transparentpagebg : 'yes',
                bg : '391C4C',
                lefticon: 'E3D8E0',
                leftbg: '391C4C',
                rightbg: '391C4C',
                border: '391C4C',
                rightbghover: '000000',
                voltrack :	'391C4C',
                volslider :	'E3D8E0',
                lefticon: '000000',
                righticon: 'E3D8E0',
                tracker : '391C4C',
            });
            
        </script>
    {%else %}
        <i>No audio uploaded yet.</i>
    {%endif %}

    {% if  block.description %}
    <p>
        Transcript: <em>{{block.description}}</em>
    </p>
    {%else %}
    <p>
       <em>(No transcript)</em>
    </p>
    {% endif %}
</div>

{%endcomment%}
