<!-- starting audioblock js -->
<script type="text/javascript" src="/site_media/js/jquery.jplayer.min.js"></script>
<script type="text/javascript">
    //<![CDATA[
    
    function init_audio_block_audio_player() {
	    // Local copy of jQuery selectors, for performance.
	    var	my_jPlayer = $("#audioblock_jquery_jplayer"),
		    my_trackName = $("#audioblock_jp_container .track-name"),
		    my_playState = $("#audioblock_jp_container .play-state"),
		    my_extraPlayInfo = $("#audioblock_jp_container .extra-play-info");

	    // Some options
	    var	opt_play_first = false, // If true, will attempt to auto-play the default track on page loads. No effect on mobile devices, like iOS.
		    opt_auto_play = false, // If true, when a track is selected, it will auto-play.
		    opt_text_playing = "Now playing", // Text when playing
		    opt_text_selected = "Track selected"; // Text when not playing

	    // A flag to capture the first track
	    var first_track = true;

        if ( typeof ($.jPlayer) == "undefined") {
            console.log ('Jplayer not found.');
            return;
        }

	    // Change the time format
	    $.jPlayer.timeFormat.padMin = false;
	    $.jPlayer.timeFormat.padSec = false;
	    $.jPlayer.timeFormat.sepMin = " min ";
	    $.jPlayer.timeFormat.sepSec = " sec";

	    // Initialize the play state text
	    my_playState.text(opt_text_selected);

	    // Instance jPlayer
	    my_jPlayer.jPlayer({
		    ready: function () {
			    jQuery("#audioblock_jp_container .jp-rewind").hide();
			    jQuery("#audioblock_jp_container .track-default").click();
		    },
		    timeupdate: function(event) {
			    my_extraPlayInfo.text(parseInt(event.jPlayer.status.currentPercentAbsolute, 10) + "%");
		    },
		    play: function(event) {
			    my_playState.text(opt_text_playing);
			    jQuery("#audioblock_jp_container .jp-rewind").show();
		    },
		    pause: function(event) {
			    my_playState.text(opt_text_selected);
			    jQuery("#audioblock_jp_container .jp-rewind").hide();
		    },
		    ended: function(event) {
			    my_playState.text(opt_text_selected);
			    jQuery("#audioblock_jp_container .jp-rewind").hide();
		    },
		    swfPath: "/site_media/swf/",
		    cssSelectorAncestor: "#audioblock_jp_container",
		    supplied: "mp3",
		    wmode: "window"
		    });
		    
		        
		    // Create click handlers for the different tracks
	        jQuery("#audioblock_jp_container .track").click(function(e) {
		        my_trackName.text($(this).text());
		        my_jPlayer.jPlayer("setMedia", {
			        mp3: $(this).attr("href")
		        });
		        if((opt_play_first && first_track) || (opt_auto_play && !first_track)) {
			        my_jPlayer.jPlayer("play");
		        }
		        first_track = false;
		        $(this).blur();
		        return false;
	        });
	        
	        jQuery("#audioblock_jp_container .jp-rewind").click(function(e) {
			    my_jPlayer.jPlayer("play", 0);
		        jQuery(this).blur();
		        return false;
	        });
	    } // end init_help_block_audio_player
        
jQuery (init_audio_block_audio_player);
	
</script>


