<style type="text/css">
    .audioblock-container {
	    padding:0 20px;
	}

    .audioblock-container a, .audioblock-container a:link, .audioblock-container a:visited, .audioblock-container a:hover, .audioblock-container a:focus, .audioblock-container a:active {
	    color: #009BE3;
    }

    .audioblock-container ul {
	    list-style-type:none;
	    padding:0;
	    margin:1em 0;
	    width:100%;
	    overflow:hidden;
    }

    .audioblock-container ul span {
	    color: #A0A600;
    }

    .audioblock-container li {
	    float:left;
	    margin-right:1em;
    }

    .audioblock-container p span.track-name {
	    color: #CC0090;
    }
    .audioblock-container .audio_controls, .audioblock-container .jp-stop-li {
        display:none;
    }

</style>
