{% load smartif %}
<div id="{{block.id}}-audio" style="audioblock_div">
              {% if block.audio_file %}
                   <p id="audio_block_{{block.id}}"></p>
               	   <div id="audioblock_jquery_jplayer"></div>
	               <div id="audioblock_jp_container" class="audioblock-container">
		                <p class = "audio_controls">
			                <span href="/uploads/{{block.audio_file}}" class="track track-default">{{block.audio_file}}</span>
			                ( at <span class="jp-current-time"></span>
			                of <span class="jp-duration"></span> )
		                </p>
		                <ul>
			                <li><a class="jp-play" href="#">Audio</a></li>
			                <li><a class="jp-pause" href="#">Pause</a></li>
			                <li class="jp-stop-li"><a class="jp-stop" href="#">Stop</a></li>
		                </ul>
		            </div>
			    {%else %}
                    <i>No audio uploaded yet.</i>
                {%endif %}
</div>
