{% load markup %}
{% load getresponse %}
<ol type="A">
  {% for answer in question.answer_set.all %}
    {% if block.rhetorical %}
                  <li><input name="question{{question.id}}" value="{{answer.label}}" type="checkbox" />{{answer.label}}</li>
    {% else %}
  
  
  
  <li>
  
  
    
    {% if response %}
      {% ifanswerin response answer  %}
        <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}" id="answer_checkbox_{{answer.id}}" checked="checked" value="{{answer.value}}" type="checkbox" />
        <a href="javascript:void(0)" onclick="jQuery('#answer_checkbox_{{answer.id}}')[0].click();" >{{answer.label}}</a>
      {% else %}
        <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}" id="answer_checkbox_{{answer.id}}" value="{{answer.value}}" type="checkbox" />
        <a href="javascript:void(0)" onclick="jQuery('#answer_checkbox_{{answer.id}}')[0].click();" >{{answer.label}}</a>
      {% endifanswerin %}
    
    
    {% else %}
        <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}"  id="answer_checkbox_{{answer.id}}" value="{{answer.value}}" type="checkbox" />
        <a href="javascript:void(0)" onclick="jQuery('#answer_checkbox_{{answer.id}}')[0].click();" >{{answer.label}}</a>
    {% endif %}
  
  
  
  </li>
  
  
  
    {% endif %}
  {% endfor %}
</ol>
