--index-url https://pypi.ccnmtl.columbia.edu/
Django==1.9.8
Markdown==2.6.6
pyenchant==1.6.6
smartypants==1.8.6
uuid==1.30
psycopg2==2.6.2
Pillow==3.3.0
coverage==4.1
versiontools==1.9.1
pyflakes==1.2.3
pep8==1.7.0
mccabe==0.5.0
pycodestyle==2.0.0
flake8==2.6.2
logilab-common==1.2.2
logilab-astng==0.24.3
pylint==1.6.4
fuzzywuzzy==0.11.0
sure==1.4.0
traitlets==4.2.2
ipython_genutils==0.1.0
decorator==4.0.10
ptyprocess==0.5.1
pexpect==4.2.0
pickleshare==0.7.2
simplegeneric==0.8.1
path.py==8.2.1
backports.shutil_get_terminal_size==1.0.0
ipython==5.0.0
ipdb==0.10.1
extras==1.0.0
python-mimeparse==1.5.2
fixtures==3.0.0
testtools==2.2.0
testscenarios==0.5.0
python-subunit==1.2.0
ldap3==1.4.0
lxml==3.6.0
ipaddress==1.0.16
python-dateutil==2.5.3
fake-factory==0.5.9
factory_boy==2.7.0
statsd==3.2.1
six==1.10.0
sqlparse==0.2.0
contextlib2==0.5.3
rcssmin==1.0.6
rjsmin==1.0.12

django-treebeard==4.0.1
django-statsd-mozilla==0.3.16
django-smartif==0.1
django-markwhat==1.5
django-bootstrap3==7.0.1
djangowind==0.15.0
sorl==3.1
django-pagetree==1.2.1
raven==5.22.0
django-pageblocks==1.0.4
django-audioblock==1.1.0
django-pagetree_export==0.4
django-jenkins==0.19.0
django-smoketest==1.0.0
django-waffle==0.11.1
django-impersonate==1.0.1
django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-debug-toolbar==1.5
django-appconf==1.0.2
django-compressor==2.0
gunicorn==19.6.0
django-smtp-ssl==1.0

ccnmtlsettings==0.3.0
