{% extends 'base.html' %}
{% load render %}
{% load smartif %}
{% block js %}
{% for block in section.pageblock_set.all %}
{% renderjs block %}
{% endfor %}

{%if request.user.part %}
     {% if request.user.part.current_section == section %}
         <script src="/site_media/js/delay_next.js" type="text/javascript" ></script> 
     {%endif %}
{%endif %}

{% if needs_submit %}
<script language = "javascript">
    function submit_and_next() {
        jQuery ('#destination')[0].value = 'next';
        jQuery('#submit_to_self_form').submit();
    }
    function submit_and_prev() {
        jQuery ('#destination')[0].value = 'previous';
        jQuery('#submit_to_self_form').submit();
    }
</script>
     
{%endif%}

{% endblock %}

{% block css %}
{% for block in section.pageblock_set.all %}
{% rendercss block %}
{% endfor %}
{% endblock %}


{% block title %}{% endblock %}

{% block sidenav %}
        <!-- ###### Secondary Navigation ###### -->
    {% if not user.part%}
        <div id="secondary_navigation">
                <div id="fadetop"></div>
                <div class="block">
                  {% if module.get_children %}
                        <h3>Sections</h3>
                        {% include "main/menu.html" %}
                  {% endif %}
                </div><!-- div id="block" -->
                <div id="fadebottom"></div>
        </div><!-- div id="secondary_navigation" -->
    {%endif %}
{% endblock %}



{% block content %}
<h3>{{section.label}}</h3>


{% for block in section.pageblock_set.all %}
    {% if block.block.is_audio_block %}
        {% render block %}
    {%endif %}
{% endfor %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

{% endif %}

{% if show_decorations %}
<div class="decoration_image_container">
    <img class="decoration_image"  src = '{{decoration_info.image}}' />
</div>
{% endif %}




{% if needs_submit %}
<form id="submit_to_self_form" action="." method="post">
<input type="hidden" value="" name="destination" id="destination"/>
{% endif %}


{% for block in section.pageblock_set.all %}
    {% if not block.block.is_help_block and not block.block.is_audio_block %}
        {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
        {% render block %}
    {%endif %}
{% endfor %}


{% if needs_submit %}
</form>
{% endif %}

{% endblock %}
<div class="visualclear"></div>

{% block content-nav %}

<div class="content-nav">
    <!-- Django messages go here-- e.g. "Please finish all quiz answers before continuing."-->
{% if section.get_previous %}
    {% if needs_submit %}
        <a href="#" id="previous" onclick ="javascript:submit_and_prev()">{{section.get_previous.label}} »</a>
    {%else %}
        <a href="{{section.get_previous.get_absolute_url}}" id="previous">« {{section.get_previous.label}}</a>
    {%endif %}      
{% endif %}

{% if section.get_next %}
    {% with section.get_next as next_section %}
        {% if needs_submit %}
            <a href="#" id="next" onclick ="javascript:submit_and_next()">{{section.get_next.label}} »</a>
        {%else %}    
            <a href="{{section.get_next.get_absolute_url}}" id="next">{{section.get_next.label}} »</a>
        {%endif%}
    {% endwith %}
{% endif %}


{% for block in section.pageblock_set.all %}
    {% if block.block.is_help_block %}
        {% render block %}
    {%endif %}
{% endfor %}

</div><!-- div id="content-nav" -->
{% endblock %}
