{% extends 'base.html' %}
{% load render %}
{% load smartif %}
{%block title %}{{section}}{%endblock%}

{%block header_logo_link%}{%if request.user.is_staff %}/admin/wings_main/participant/{%else%}./{%endif%}{%endblock%}



{% block extra_body_class %}{%if not request.user.part %}viewing_intervention_as_facilitator{%endif%}{%endblock%}

{% block misc_head %}
<!--
    <LINK rel="prev" href="{{section.get_next.get_absolute_url}}">
    <LINK rel="next" href="{{section.get_previous.get_absolute_url}}">
-->
{% endblock%}


{% block js %}
    {% for block in section.pageblock_set.all %}
    {% renderjs block %}
    {% endfor %}
<script language = "javascript">
    var text_input_mode = false;
    function focus_on_first_textarea_or_text_input () {
        arr = jQuery(jQuery('.cases')[0]).find ('textarea');
        if (arr.length > 0  && jQuery.trim (arr[0].value).length == 0) {
            arr[0].focus();
        }
        arr = jQuery(jQuery('.cases')[0]).find ('input[type=text]');
        if (arr.length > 0  && jQuery.trim (arr[0].value).length == 0) {
            arr[0].focus();
        }
    }

    function setup_key_shortcuts() {
	    $(document).keyup(function (e) {
		    if (e.which == 78 ) {// if user types the letter n
			    if (!text_input_mode) {
			        if ( jQuery ('#next').filter(":visible").length > 0  ) {
	     			    jQuery ('#next')[0].click();
			        }
			    }
		    }
		    if (e.which == 66 ) { // if user types the letter b
			    if (!text_input_mode) {
				    jQuery ('#previous')[0].click();
			    }
		    }
		    if (e.which == 32 ) { // if user types a space
			    if (!text_input_mode) {
				    jQuery ('#secondary_navigation').toggle();
				    jQuery ('.globalnav').toggle();
			    }
		    }
		    
		    return false;
	    });
		     
	    $("input[type=text]").focus(function(){
	       text_input_mode = true;
	    });

	    $("input[type=text]").blur(function(){
	       text_input_mode = false;
	    });

	    $("textarea").focus(function(){
	       text_input_mode = true;
	    });

	    $("textarea").blur(function(){
	       text_input_mode = false;
	    });
    }
    jQuery (setup_key_shortcuts);
    jQuery (focus_on_first_textarea_or_text_input);
</script>
    {%if request.user.part %}
        {%if request.user.part.current_section.id == section.id  %}
        
		{%if not request.user.part.is_test %}
             <script type="text/javascript" >
                function hide_next () {
                    jQuery('div.content-nav a#next').hide();
                }

                function show_next() {
                    jQuery('div.content-nav a#next').fadeIn();
                }

                function hide_then_show_next() {
                    hide_next();
                    setTimeout (show_next, 2000);
                }

                jQuery (hide_then_show_next);
             </script> 
         {%endif %}
    {%endif %}
    {%endif%}
    {% if needs_submit %}
        <script language = "javascript">
            function submit_and_next() {
                jQuery ('#destination')[0].value = 'next';
                jQuery('#submit_to_self_form').submit();
            }
            function submit_and_prev() {
                jQuery ('#destination')[0].value = 'previous';
                jQuery('#submit_to_self_form').submit();
            }
        </script>
    {%endif%}
{% endblock %}

{% block css %}
{% for block in section.pageblock_set.all %}
{% rendercss block %}
{% endfor %}
{% endblock %}

{% block sidenav %}
        <!-- ###### Secondary Navigation ###### -->
    {% if not user.part%}
        <div id="secondary_navigation">
                <div id="fadetop"></div>
                <div class="block">
                  {% if module.get_children %}
                        <h3>Sections</h3>
                        {% include "main/menu.html" %}
                  {% endif %}
                </div><!-- div id="block" -->
                <div id="fadebottom"></div>
        </div><!-- div id="secondary_navigation" -->
    {%endif %}
{% endblock %}



{% block content %}
<h3>{% if not decoration_info.hide_title %}{{section.label}}{%endif %}</h3>
<!--
    section id is:        {{section.id}}
-->

{% for block in section.pageblock_set.all %}
    {% if block.block.is_audio_block %}
        {% render block %}
    {%endif %}
{% endfor %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


{% if show_decorations %}
    {% if decoration_info.really_depressing %}
    <div id="decoration_image_container" class="depressing">
        <img class="decoration_image"  src = "/site_media/img/bird-screen.jpg" />
    </div>
    {%else %}
    <div id="decoration_image_container">
        <img class="decoration_image"  src = '{{decoration_info.image}}' />
    </div>
    {%endif %}
{% endif %}


{% if needs_submit %}
<form id="submit_to_self_form" action="." method="post">
<input type="hidden" value="" name="destination" id="destination"/>
{% endif %}

{% for block in section.pageblock_set.all %}
    {% if not block.block.is_help_block and not block.block.is_audio_block %}
    <!--
        Block id is: {{block.id}} 
    -->
        {% if block.label %}<h3>{{block.label}} </h3>{% endif %}
        {% render block %}
    {%endif %}
{% endfor %}


{% if needs_submit %}
</form>
{% endif %}

{% endblock %}
<div class="visualclear"></div>

{% block content-nav %}

<div class="content-nav">
{% if section.get_previous %}
    {% if needs_submit %}
        <a href="#" id="previous" onclick ="javascript:submit_and_prev()"></a>
    {%else %}
        <a href="{{section.get_previous.get_absolute_url}}" id="previous"></a>
    {%endif %}      
{% endif %}

{% if section.get_next %}
    {% with section.get_next as next_section %}
        {% if needs_submit %}
            <a href="#" id="next" onclick ="javascript:submit_and_next()"></a>
        {%else %}    
            <a href="{{section.get_next.get_absolute_url}}" id="next"></a>
        {%endif%}
    {% endwith %}
{% endif %}


{% for block in section.pageblock_set.all %}
    {% if block.block.is_help_block %}
        {% render block %}
    {%endif %}
{% endfor %}

</div><!-- div id="content-nav" -->
{% endblock %}
