<style type="text/css">
.ssnm_tree_block {
    width  :    300px;
    height :    400px;
    position:   relative;
    background: url('/site_media/img/ssnm_tree.jpg') no-repeat scroll left top;
}
.ssnm_tree_box_input {
    width: 120px !important;
    height: 25px !important;
    font-size: 1.5em !important;
    position: absolute;
}
{%for box in block.boxes.all %}
    .ssnm_tree_box_input.{{box.label}} {
        left:{{box.pixels_from_left}}px !important;
        top:{{box.pixels_from_top}}px !important;
    }
{%endfor%}
</style>
