{% load smartif %}
{% load get_name %}
<form id="submit_to_self_form" method="post" action=".">
    <div id="{{block.id}}-ssnm" class="ssnm_tree_block">
        {%for box in block.boxes.all %}
            <div class = "ssnm_tree_box_div box_{{box.id}}">    
                <input
                    type="text"
                    name="pageblock-{{block.pageblock.id}}-{{box.id}}"
                    value="{% get_name_for_box box user %}"
                    class="ssnm_tree_box_input {{box.label}}" />
                <div class="bird_on_it">bird</div>
                
                
                {%for type in block.visible_support_types.all %}
                    <div class="heart type_{{type.id}}">{{type.label}}</div>
                {%endfor%}
                
            </div>
        {%endfor%}
    </div>
    {%for type in block.editable_support_types.all %}
        {%for box in block.boxes.all %}
            <div class = "ssnm_tree_test">type_{{type.id}}box_{{box.id}}
                <input
                    type="checkbox"
                    class="type_{{type.id}} box_{{box.id}}"
                    name="pageblock-{{block.pageblock.id}}-box_{{box.id}}_type_{{type.id}}"
                  />
            </div>    
        {%endfor%}
    {%endfor%}
</form>
