<style type="text/css">
/* ok here's the tree */
.ssnm_tree_block {
    width  :    475px;
    height :    420px;
    position:   relative;
    background: url('/site_media/img/ssnm_tree.jpg') no-repeat scroll left top;
    float: left;
}

.tree-instructions {
    display: block;
    float: left;
    width: 160px;
    padding: 0px 15px;
    background-color: #ccc;
    font-size: 90%;
}

/* this is the div that contains the input box. it's clickable to change the support types each person gives you. */
.ssnm_tree_box_div {
    position: absolute;
    width: 163px !important;
    height: 77px !important;
     background: url('/site_media/img/bird_initial.png') no-repeat scroll left top;
}

.ssnm_tree_box_div.contains_name {
      background: url('/site_media/img/bird_selected.png') no-repeat scroll left top;
}

/*  this positions each of the divs according to the left and top info found at:
    http://wings.ccnmtl.columbia.edu/admin/ssnmtreeblock/ssnmtreebox/
*/

{%for box in block.boxes.all %}
    .ssnm_tree_box_div.{{box.label}} {
        left:{{box.pixels_from_left}}px !important;
        top:{{box.pixels_from_top}}px !important;
    }
{%endfor%}

/* these are the actual text input boxes */
.ssnm_tree_box_input {
    position: absolute;
    left: 55px !important;
    top: 44px !important;
    width: 70px !important;
    height: 14px !important;
    font-size: .8em !important;
    opacity:0.8;
    filter:alpha(opacity=0.8); /* For IE8 and earlier */
    border-radius: 10px;
    padding: 0 5px;
}

/* put a bird icon in this div */
.bird_on_it {
    position: absolute;
    left: 140px !important;
    top: 0px !important;
    font-style:italic;
    color:white;
    cursor: default;
}


.heart {
    position: absolute;
    font-style:italic;
    font-size: 0.8em !important;
    cursor: default;
    display: none;
    height: 16px;
    width: 20px;
    top: 66px;

}

/* show the heart div if the person selects the ssnm_tree_box_div. */
.ssnm_tree_box_div.offers_support_type_1 .heart.type_1 {
    display: block !important;
    background: url('/site_media/img/emotional_icon.png') no-repeat scroll left top;
        left: 80px !important;

}

.ssnm_tree_box_div.offers_support_type_2 .heart.type_2 {
    display: block !important;
    background: url('/site_media/img/practical_icon.png') no-repeat scroll left top;
        left: 102px !important;
}

.form_checkbox {
    display:none;
}



</style>
