<style type="text/css">
/* ok here's the tree */
.ssnm_tree_block {
    width  :    300px;
    height :    400px;
    position:   relative;
    background: url('/site_media/img/ssnm_tree.jpg') no-repeat scroll left top;
}

/* this is the div that contains the input box. it's clickable to change the support types each person gives you. */
.ssnm_tree_box_div {
    position: absolute;
    width: 170px !important;
    height: 50px !important;
    background: green;
    opacity:0.8;
    filter:alpha(opacity=0.8); /* For IE8 and earlier */
    border-radius: 20px 20px 20px 20px;
}

.offers_support {
    background: blue;
}

/*  this positions each of the divs according to the left and top info found at:
    http://wings.ccnmtl.columbia.edu/admin/ssnmtreeblock/ssnmtreebox/
*/

{%for box in block.boxes.all %}
    .ssnm_tree_box_div.{{box.label}} {
        left:{{box.pixels_from_left}}px !important;
        top:{{box.pixels_from_top}}px !important;
    }
{%endfor%}

/* these are the actual text input boxes */
.ssnm_tree_box_input {
    position: absolute;
    left: 10px !important;
    top: 10px !important;
    width: 120px !important;
    height: 25px !important;
    font-size: 1.5em !important;
    opacity:0.8;
    filter:alpha(opacity=0.8); /* For IE8 and earlier */
    border-radius: 20px 20px 20px 20px;
}

/* put a bird icon in this div */
.bird_on_it {
    position: absolute;
    left: 140px !important;
    top: 0px !important;
    font-style:italic;
    color:white;
    cursor: default;
}

/* put a bird icon in this div */
.bird_on_it {
    position: absolute;
    left: 140px !important;
    top: 0px !important;
    font-style:italic;
    color:white;
    cursor: default;
}


.heart {
    position: absolute;
    left: 140px !important;
    font-style:italic;
    font-size: 0.8em !important;
    cursor: default;
    display: none;
}

/* show the heart div if the person selects the ssnm_tree_box_div. */
.ssnm_tree_box_div.offers_support_type_1 .heart.type_1 {
    display: block !important;
}

.ssnm_tree_box_div.offers_support_type_2 .heart.type_2 {
    display: block !important;
}

/* emotional support */
.heart.type_1 {
    top: 15px !important;
    color:red;
}

/* practical support */
.heart.type_2 {
    top: 25px !important;
    color:yellow;
}

</style>
