{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrahead %}
  {{ block.super }}
    <script type="text/javascript">
        clear_no_admin();
    </script>
{%endblock%}


{% block extrastyle %}{% load adminmedia %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/login.css" />{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="siteinfo">
<h2>Welcome to WINGS</h2>
<p>Info or video about this site to go here</p>
</div>

            <table id="login">
                <tr>

                    <td>

                               {% if error_message %}
                                    <p class="errornote">{{ error_message }}</p>
                                {% endif %}
                                <h4>
                                Log in below to start Wings:
                                </h4>
                                <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                                    <label for="id_username">{% trans 'Username:' %}</label> <input type="text" name="username" id="id_username" /><br />

                                    <label for="id_password">{% trans 'Password:' %}</label> <input type="password" name="password" id="id_password" /><br />
                                    <input type="hidden" name="this_is_the_login_form" value="1" />
                                    <input type="submit" value="{% trans 'Log in' %}" /><br />

                                </form>                                
                    </td>
                    </tr>
            </table>



<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endblock %}


{% block footer %}
    {%include 'wings_main/standard_elements/standard_elements_footer.html' %}
{% endblock %}
