<style type="text/css">
div#secondary_navigation {
    display: none;
}

.helpblock-container .audio_controls,
.helpblock-container .jp-stop-li {
    display:none;
}
.helpblock-container ul  {
    list-style-type:none;
    margin: 0;
}
.helpblock-container {
    position: relative;
    width: 100px;
    height: 60px;
    padding: 5px;
    border: none;
}

#content .content-nav .helpblock-container li a.jp-play, 
#content .content-nav .helpblock-container li a.jp-pause,  
#content .content-nav .helpblock-container li a.jp-rewind
{
    color: transparent;
    background-position: 0px 0px;
    width: 44px;
    height: 45px;
    float: right;
    margin-left: 5px;
}

#content .content-nav .helpblock-container  li a.jp-play {
    background-image: url('{{STATIC_URL}}img/audio_button_bg.png');
}

#content .content-nav .helpblock-container li a.jp-pause {
    background-image: url('{{STATIC_URL}}img/pause_audio_button_bg.png');
}

#content .content-nav .helpblock-container li a.jp-rewind {
    background-image: url('{{STATIC_URL}}img/rewind_audio_button_bg.png');
    display: none ;
}

#content .content-nav a.show_help_link, #content .content-nav a.hide_help_link {
    background-position: -9px -2px !important;
    color: transparent !important;
    width: 54px !important;
    margin: 0 10px !important;
    position: absolute;
	left: 55%;
}

#content .content-nav a.show_help_link {
    background-image: url('{{STATIC_URL}}img/help_button_bg.png') !important; 
}

#content .content-nav a.hide_help_link {
    background-image: url('{{STATIC_URL}}img/close_help_button_bg.png') !important;
    height: 57px;
    border-radius: 10px 10px 0 0;
}

div.help_block_box {
     background-color: #e9e0e6;
     float: right;        
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    width: 100%;     
    margin: 0;
    padding: 10px;
    color: #3e1e51;
}

div.help_block_transcript_div {
    position: relative;
    width: 550px;
    top : -60px;
    left: 120px;

}
div.help_block_transcript_div em {font-style: normal; font-weight: bold;}

</style>
