{% extends 'wings_main/standard_elements/standard_elements.html' %}

{%block title %}About{%endblock %}


{% block standard_elements_content %}

<h3>About WINGS</h3>
<p>WINGS (Women Initiating New Goals for Safety) seeks to improve safety and encourage healthy relationships among women in probation and community court settings. This NIDA funded clinical trial compares a computerized multi-media tool with a similar case-manager delivered one-session intervention. The intervention seeks to identify women at risk of intimate partner violence, conduct safety planning, and enhance social support and access to services to prevent intimate partner violence.</p>

<h3>Credits</h3>

<h5>Social Intervention Group, Columbia University School of Social Work:</h5>
<ul>
    <li>Nabila El Bassel DSW, MSW
    <li>Louisa Gilbert, PhD, MSW
    <li>Dawn A Goddard, MSS
    <li>Stacey Shaw, MSW
</ul>

<h5>Columbia Center for New Media Teaching and Learning:</h5>
<ul>
    <li>Executive Producers: Frank Moretti, Maurice Matiz
    <li>Project Manager (CCNMTL): &#8232;Jessica Rowe
    <li>Programming: Eddie Rubeiz
    <li>Video: Stephanie Ogden, Acacia Gammel-Grady
    <li>Design: Liz Day
</ul>

<p>
Video excerpts from Strength of a Woman, a 20-minute documentary created by the Violence Against Women Committee of the Coalition For Women Prisoners and filmmaker Allison Caviness
</p>
{%endblock %}
