{% extends 'base.html' %}


{%block header_logo_link%}/login/{%endblock%}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/media/css/base.css" />

<style type="text/css">
    /*
    undo all properties of base.css line 612*/

    #primarynav {
        position: relative;
        top: -35px;
        border: none;
        height: 30px;
        margin-top: 0px;
        padding: 0px;
    }
</style>

{%endblock %}

{% block content %}
    <div>
    {% block standard_elements_content %}
    {%endblock %}
    </div>
{%endblock %}

{% block footer %}
    {%include 'wings_main/standard_elements/standard_elements_footer.html' %}
{% endblock %}


