{% load smartif %}
{% load services %}


{% if block.page_type == 'page_1' %}
   {%with block.pageblock.id as pageblock_id%}
       {%with '241' as question_id%}
         {% narrow_down %}
       {%endwith%}
   {%endwith%}
{% endif%}


{% if block.page_type == 'page_2' %}
        Chosen service:
           {%with '241' as question_id%}
            {% show_narrowed_down_answer %}
           {%endwith%}

        List of service orgs:
           {%with '241' as question_id%}
            {% show_related_resources %}
           {%endwith%}
{% endif%}


