<style type="text/css">

    table.show_related_resources {

        width: 100%;
    }

    table.show_related_resources tr th,
    table.show_related_resources tr td {

        vertical-align: top;
        text-align: left;
    }

    .services_map_image {
        width: 250px;
        height: auto;
    }

    table.show_related_resources td.resource_name {
        font-weight:bold;
    }
    
    td.resource_url, th.resource_url {
        display:none;
    }

    .exit_materials_content td.resource_url, .exit_materials_content th.resource_url{
        display:table-cell;
    }
</style>
