<table class ="show_related_resources">
        <tr>
            <th>
               Name
            </th>
            <th>
               URL
            </th>
            <th>
                Street address
            </th>
            <th>
                Map
            </th>
            <th>
                Tel
            </th>
        </tr>

    {% for resource in resources%}
        <tr>
            <td>
                {{resource.name}}
            </td>
            <td>
                {{resource.url}}
            </td>
            <td>
                {{resource.address}}
            </td>
            <td>
                <img src = "/uploads/{{resource.map_image}}" class="services_map_image"/>
            </td>
            <td>
                {{resource.phone}}
            </td>
        </tr>
    {%endfor%}
</table>
