<table class ="show_related_resources">
        <tr>
            <th>
               Name
            </th>
            <th>
                Tel
            </th>
            <th>
               URL
            </th>
        </tr>

    {% for resource in resources%}
        <tr>
            <td class ="resource_name">
                {{resource.name}}
            </td>
            <td class ="resource_phone">
                {{resource.phone}}
            </td>
            <td class ="resource_url">
                {{resource.url}}
            </td>
        </tr>
    {%endfor%}
</table>
