{%ifequal opts.verbose_name 'participant'%}
    {% ifequal  field.field.name 'id_string' %}
    <br/>
        <label class="required" for="id_id_string">Retype ID string please:</label>
        {{ field.field }}
        
        <div style="color:green" id ="date_suggestion">date</div><br/>
        
        
    <script language="javascript">
        function figure_out_date() {
            var dat = new Date() ;

            var curr_date  =   dat.getDate();
            var curr_month =   dat.getMonth() + 1; //months are zero based
            var curr_year  =   dat.getFullYear().toString().substring (2,4);
            var curr_hour  =   dat.getHours();
            var curr_minutes = dat.getMinutes();
            
            if (curr_month < 10)  { curr_month  = '0' + curr_month; }
            if (curr_hour  < 10)  { curr_hour   = '0' + curr_hour;  }
            
            var dmy = curr_year + "" + curr_month + "" + curr_date ;
            date_suggestion = dmy + "" + curr_hour + "" + curr_minutes.toString().substring(0, 1) +"XYZ";
            django.jQuery('#date_suggestion')[0].innerHTML = "(Hint: " + date_suggestion + ")";
        }
        django.jQuery(figure_out_date);
        django.jQuery('#participant_form').submit(function() {
                // set the ID of the second text box;
                django.jQuery(django.jQuery('input.vIntegerField')[1]).attr('id' ,'id_id_string_2');
                // are the ID strings identical?
                if ( django.jQuery('#id_id_string')[0].value !==
                     django.jQuery('#id_id_string_2')[0].value)  {
                        // ID strings are not identical.
                        alert ('Please make sure to type identical 12-digit numbers into the two ID string boxes.');
                        return false;
                }
                id_string = django.jQuery('#id_id_string')[0].value;
                // OK. Values in both fields are identical. Are they exactly 12 digits?
                if ( ! ( /^[0-9]{12}$/.test(id_string) ) ) {
                    alert ('Sorry, the ID strings must be identical and contain exactly 12 digits.');
                    return false;
                }
                // identical 12-digit strings. Good.
                return true;
            }
        );
    </script>


    {%endifequal %}
 {%endifequal%}
