<table class ="show_related_resources">
        <tr>
            <th class="resource_name">
               Name
            </th>
            <th class ="resource_phone">
                Tel
            </th>
            <th class = "resource_url">
               URL
            </th>
            <th class = "resource_description">
               Description
            </th>
        </tr>

    {% for resource in resources%}
        <tr>
            <td class ="resource_name">
                {{resource.name}}
            </td>
            <td class ="resource_phone">
                {{resource.phone}}
            </td>
            <td class ="resource_url">
                {{resource.url}}
            </td>
            <td class ="resource_description">
                {% firstof resource.description %}
            </td>
        </tr>
    {%endfor%}
</table>
