<p>So that I can leave quickly, I will leave money and an extra set of keys with: [/safety-plan/preparing-to-leave/plan-part-1/]</p>

<p>I will keep copies of important documents (social security cards, birth certificates, shot records – see step 8) or keys at :[/safety-plan/preparing-to-leave/plan-part-2/]</p>

<p>To increase my independence, I will open a savings account by: [/safety-plan/preparing-to-leave/plan-part-3/]</p>

<p>Other things I can do to increase my independence include: [/safety-plan/preparing-to-leave/plan-part-4/]</p>

<p>Call 311 and ask for the NYC Domestic Violence Hotline (800-621-4673; TDD 866-604-5350) if you need counseling, legal assistance or emergency housing. If you are feeling threatened by your partner or in more immediate danger, call 911 for the police.</p>

<p>Keep change for phone calls on you at all times. If you use your telephone credit card, the following month the telephone bill will tell your partner those numbers that you called after you left. To keep your telephone communications confidential, you must either use coins at a pay phone or get a friend to let you use their telephone credit card for a limited time when you first leave.</p>

<p>I will check with the following people to see if I can stay with them or borrow money:[/safety-plan/preparing-to-leave/plan-part-7/]</p>

<p>I can leave extra clothes with:[/safety-plan/preparing-to-leave/plan-part-8/]</p>

<p>In order to plan the safest way to leave the residence, I will sit down and review my safety plan every:[/safety-plan/preparing-to-leave/plan-part-9/]</p>

<p>[safety-plan/preparing-to-leave/plan-part-10/] will help me review my safety plan.</p>

<p>I will rehearse my escape plan and, as appropriate, practice it with my children.</p> 
