
<p>If I decide to leave, I will: [/safety-plan/during-a-violent-incident/plan-part-2/]</p>

<p>In order to leave quickly, I can keep my purse, identification, and metro card (or bus/train fare) ready and put them: [/safety-plan/during-a-violent-incident/plan-part-3/]</p>

<p>I can tell a person that I trust about the violence and request they call the police if they hear suspicious noises coming from my apartment. One person I can tell is: [/safety-plan/during-a-violent-incident/plan-part-4/]</p>

<p>Another person I can tell is: [/safety-plan/during-a-violent-incident/plan-part-5/]</p>

<p>I can teach my children how to use the telephone and dial 911 to contact the police and the fire department. </p>

<p>I can use a code word with my children or my friends so they can call for help. (CODE WORDS should not evoke suspicion from partner, but should not also be “every day” language that might confuse helping person. Some examples of code words are “Aunt _ _ _ has not returned my phone call today“. Code words for children need to be appropriate for their age. For example, a code word for a 13 year old girl may be “Your cousin _ _ _ called you today and wants you to call her back today”. For a younger child “Your grandmother called today and wanted to talk with you about something.”(Most children under the age of 5 will be too young to understand how to operate under code language, you will need to figure out whether your child can be entrusted with this task)</p>

<p>My code word will be: [/safety-plan/during-a-violent-incident/plan-part-7/]</p>

<p>If I have to leave my home I will go to: [/safety-plan/during-a-violent-incident/plan-part-8/]</p>

<p>If I cannot go to the location above I will go: [/safety-plan/during-a-violent-incident/plan-part-9/]</p>

<p>I can also teach these strategies to some or all of my children.</p>

<p>When I expect we are going to have an argument, I will try to move to a space that is lowest risk, such as: [/safety-plan/during-a-violent-incident/plan-part-11/]</p>

<p>I will use my judgment and intuition. If the situation is very serious, I can give my partner what he/she wants to calm him/her down. I have to protect myself until I/we are out of danger.</p>
