{% extends 'wings_main/standard_elements/standard_elements.html' %}

{%block title %}Help{%endblock %}

{% block standard_elements_content %}

<h3>Browser Requirements</h3>

<p>This site requires installation of a modern browser such as Firefox 3.6+, Safari 4+, Internet Explorer 7+ or Chrome.</p>

<ul>
<li><a href="http://www.mozilla.com/" target="blank">Download and install Firefox</a></li>
<li><a href="http://www.apple.com/safari/" target="blank">Download and install Safari</a></li>
<li><a href="http://www.google.com/chrome" target="blank">Download and install Chrome</a></li>
<li><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home" target="blank">Download and install Internet Explorer</a> </li>
</ul>

<h4>For more help, please&nbsp;<a href="mailto:ccnmtl-wings@columbia.edu">Contact Us</a>.</h4>


{%endblock %}
