

table#result_list tr {
    height: 60px;
}

div.breadcrumbs {
    display:none;
}


a.addlink {
    font-size: 150%;
}


#changelist .actions label {
    font-size: 15px;
    margin-left: 0.5em;
}

span.action-counter {
    font-size: 15px;
}


ul.message_list li {
    font-size: 15px;
}


div.actions {
    display:none;
}

table#result_list th.action-checkbox-column {
    display:none;
}

table#result_list  tbody tr td:first-child {
    display:none;
}


ul.messagelist li {
    font-size: 24px;
    height:48px;
    line-height:56px;
}

input[name="_continue"], input[name="_addanother"],{
    display:none; 
}

/* link to overview of intervention */
.overview {
    font-size: 24px;
    height:48px;
    line-height:56px;
    display:block;
}



/* OBJECT TOOLS  (e.g. add participant, history button, etc. */

.object-tools {
    font-size: 10px;
    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
}

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
}



.object-tools li:hover {
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    color: white;
    padding: .1em 14px .1em 8px;
    height: 14px;
}

.object-tools a:hover, .object-tools li:hover a {
}

.object-tools a.viewsitelink, .object-tools a.golink {
    padding-right: 28px;
}

.object-tools a.viewsitelink:hover, .object-tools a.golink:hover {;
}

.object-tools a.addlink {
    padding-right: 28px;
}


.object-tools a.historylink {
    display:none !important;
}


