{% extends 'wings_main/stats.html' %}
{% load pastquizanswers %}
{%block title%}Answer summary{%endblock%}

{% block table %}
    <h5>Non-text answers:</h5>
    <table border ="1px">
        <tr>
           <th >Question ID</th>
            {% for qu in questions %}
                {% if qu.is_single_choice %}
                    <th title="{{qu.text}}">{{ qu.id}}</th>
                {%else%}
                    {%if  qu.is_multiple_choice%}
                        {% for answer in qu.answer_set.all %}
                            <th title="{{qu.text}}">{{ qu.id}}</th>
                        {%endfor%}
                    {%endif %}
                {%endif %}
            {%endfor%}
        </tr>
        
        <tr>
           <th >Answer ID</th>
            {% for qu in questions %}
                {% if qu.is_single_choice %}
                    <th>&nbsp;</th>
                {%else%}
                    {%if  qu.is_multiple_choice%}
                        {% for answer in qu.answer_set.all %}
                            <th title="{{answer.label}}">
                                {{ answer.id}}
                            </th>
                        {%endfor%}
                    {%endif %}
                {%endif %}
            {%endfor%}
        </tr>
        {% for u in users %}
         <tr>
            <td> {{u.part.label}}</td>
           {% for qu in questions %}
                {% if qu.is_single_choice %}
                    <td>
                        {%answer_code_for_stats u qu.id%}
                    </td>
                {%else %}
                    {%if  qu.is_multiple_choice%}
                        {% for answer in qu.answer_set.all %}
                            <td title="{{answer.label}}">
                                {%user_checked_this_answer u answer.id%}
                            </td>
                        {%endfor%}
                    {%endif %}
                {%endif %}
            {%endfor %}
            </tr>
         {%endfor %}
    </table>
{% endblock %}
{%block below_table%}
    <div>
        <a href ="/all_answers_key/" target = "_blank">Click here for a key to answer codes</a>
    </div>
    <div>
        <a href ="/" >Go back to list of participants</a>
    </div>
{%endblock%}

