{% extends 'wings_main/stats.html' %}
{% load pastquizanswers %}

{%block title%}Key to answer summary{%endblock%}

{% block table %}
    <h1>"Radio button" (multiple choice, single answer) questions:</h1>
    {% for qu in questions %}
        {% if qu.is_single_choice %}
        <p>
        <a href="/_quiz/edit_question/{{qu.id}}/">{{ qu.id}}: {{qu.text}}</a>
        </p>
           
            <ul>
                 {% for aa in qu.answer_set.all %}
                    <li>
                        <a href = "/_quiz/edit_answer/{{aa.id}}/">
                            {{aa.value}} = {{aa}}
                        </a>
                    </li>
                {%endfor%}
            </ul>
        {%endif %}
    {%endfor%}
    
    <h1>Remaining questions (checkboxes and text fields)</h1>
    <ul>
        {% for qu in questions %}
            {% if not qu.is_single_choice %}
            <li><a href="/_quiz/edit_question/{{qu.id}}/">{{ qu.id}}: {{qu.text}}</a></li>
            {%endif %}
        {%endfor%}
    </ul>
{% endblock %}

{%block below_table%}
    <div>
        <a href ="javascript:self.close();" >Close this tab</a>
    </div>
{%endblock%}



