{% extends 'wings_main/stats.html' %}
{% load pastquizanswers %}
{%block title%}Answer summary{%endblock%}


{% block table %}
<table border ="1px">
    <tr>
       <th >&nbsp;</th>
        {% for qu in questions %}
            <th title="{{qu.text}}">{{ qu.id}}</th>
        {%endfor%}
    </tr>
    {% for u in users %}
     <tr>
        <td> {{u.part.label}}</td>
       {% for qu in questions %}
           <td>
                {%answer_code_for_stats u qu.id%}
            </td>
        {%endfor %}
        </tr>
     {%endfor %}
</table>
{% endblock %}


{%block below_table%}
    <div>
        <a href ="/all_answers_key/" target = "_blank">Click here for a key to answer codes</a>
    </div>
    
    <div>
        <a href ="/" >Go back to list of participants</a>
    </div>
{%endblock%}

