{% extends 'base.html' %}
{% load render %}
{% load smartif %}



{% block title %}Exit Materials{%endblock%}

{% block js %}
    {% renderjs ssnm_tree_node %}
    {% renderjs resources_node %}
    <script language ="javascript">
        function replace_background (thing) {
	        // since css background images don't print reliably, just add an actual image tag 
	        image_src = jQuery(thing).css('background-image');
	        if (image_src !== 'none') {
	            //console.log (image_src);
	            // remove leading url("  and trailing "):
	            img_tag = '<img src = "' + image_src.replace(/^url\(\"*/, '').replace(/\"*\)$/, '')  + '"></img>';
	            //console.log (img_tag);
	            jQuery(thing).prepend(img_tag);
            }
        }
        function turn_into_a_div (thing, contents) {
            $(thing).after ('<div class="exit_materials_replacement_div">' + contents + '</div>');
            $(thing).remove();
        }
        function setup_exit_materials () {
            tmp1 = jQuery (".exit_materials_main_content_div  input[type='text']");
            tmp2 = jQuery (".exit_materials_main_content_div  textarea");
            jQuery.each( tmp1, function(index, inp) {
                turn_into_a_div( inp, inp.value); 
            });
            jQuery.each( tmp2, function(index, txta) {
                turn_into_a_div( txta, txta.innerHTML); 
            });

            jQuery.each( jQuery('.ssnm_tree_block'), function(index, div) {
            	replace_background ( div); 
            });
            
            jQuery.each( jQuery('.ssnm_tree_box_div'), function(index, div) {
                replace_background ( div); 
            });

            jQuery.each( jQuery('.heart'), function(index, div) {
                replace_background ( div); 
            });
            
        }
        jQuery(setup_exit_materials);
    </script>
    
{%endblock %}

{% block css %}
    {% rendercss ssnm_tree_node %}
    {% rendercss resources_node %}
{%endblock %}
{% block content %}



	
    <div class="exit_materials_main_content_div">

            <h1> Exit Materials</h1>
            
            
            
            <div class="exit_actions">
                <a class="bigbutton exit_materials_print_button" href="print"  onclick="javascript:print()">Send to Printer</a>
                <a class="bigbutton exit_materials_logout_button" href="/logout/">Log Out</a>
            </div>
            
            
            <div class="exit_materials_content ssnm_tree">
                <h5>Social Support Network Tree</h5>
               
                    {%render ssnm_tree_node %}
                    <br clear="all" />
                    <p>
                       <img src="/site_media/img/emotional_icon.png"></img>pink hearts = practical support
                    </p>
                    <p>
                       <img src="/site_media/img/practical_icon.png"></img> blue hearts = emotional support
                    </p>
                    
             </div>
            <!-- page break here -->
            
            
            <div class = "exit_materials_content">      
            <h5>Steps to Increase Support</h5>
                {%for section in steps_to_increase_support_node_list %}
                    <div>
                        {% for block in section.pageblock_set.all %}
                        {% if not block.block.is_help_block and not block.block.is_audio_block %}
                            {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
                            <!--
                            <div>
                            BLOCK ID {{block.id}}
                            </div>
                            -->
                            {% render block %}
                        {%endif %}
                        {% endfor %}
                    </div>
                {%endfor %}

            </div>
            
            
            
           <div class="exit_materials_content safety_strategies">
            <h5>Strategies for Safety During a Violent Incident</h5>
                    {%for section in safety_plan_part_1_node_list %}
                            {% for block in section.pageblock_set.all %}
                            {% if not block.block.is_help_block and not block.block.is_audio_block %}
                                {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
                                <!--
                                <div >
                                BLOCK ID {{block.id}}
                                </div>
                                -->
                                
                                <div class = "exit_materials_block block_{{block.id}}" >
                                        {% render block %}
                                </div>
                            {%endif %}
                            {% endfor %}
                    {%endfor %}
                </div>
                
            <!--<p style="page-break-after: always;"></p>   --> 
            <div class="exit_materials_content leaving">      
            <h5>Preparing to Leave</h5>
                {%for section in safety_plan_part_2_node_list %}
                    <div>
                        {% for block in section.pageblock_set.all %}
                        {% if not block.block.is_help_block and not block.block.is_audio_block %}
                            {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
                            <!--
                            <div>
                            BLOCK ID {{block.id}}
                            </div>
                            -->
                            {% render block %}
                        {%endif %}
                        {% endfor %}
                    </div>
                {%endfor %}

            </div>
            
            
            
            <div class="exit_materials_content goal_setting">
            <h5>Goal Setting</h5>
            {%for section in goal_setting_node_list %}
                <div>
                    {% for block in section.pageblock_set.all %}
                    {% if not block.block.is_help_block and not block.block.is_audio_block %}
                        {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
                        <!--
                        <div>
                        BLOCK ID {{block.id}}
                        </div>
                        -->
                        {% render block %}
                    {%endif %}
                    {% endfor %}
                </div>
            {%endfor %}

            </div>

            <div class="exit_materials_content services">
            <h5>Services</h5>
            <div class="exit_materials_services">
                {%render resources_node %}
            </div>
            
                        
            </div>
            
             <div class="exit_materials_content action_plan">
            <h5>Action Plan</h5>
            <div class="exit_materials_action_plan">
                {%render action_plan_node %}
            </div>

            
            </div>
             <div class="exit_actions">
                <a class="bigbutton exit_materials_print_button" href="print"  onclick="javascript:print()">Send to Printer</a>
                <a class="bigbutton exit_materials_logout_button" href="/logout/">Log Out</a>
            </div>
    </div>        
{%endblock%}
