{% extends 'wings_main/stats.html' %}
{% load pastquizanswers %}
{%block title%}Answer summary{%endblock%}

{% block table %}
    <h5>Timestamps:</h5>
    <table border ="1px">
        <tr>
           <th >Participant ID</th>
           <!-- <th >User ID</th>  -->
           <th >Duration (min.)
            <br/>from launch to last timestamp</th>

           <th >Duration (min.)
            <br/>from launch to last timestamp
            <br/>of first 24 hours</th>

           <th >participant created</th>
           <th >user launched</th>
            {% for qu in questions %}
                <th title="{{qu.text}}">{{ qu.id}}</th>
            {%endfor%}
        </tr>
        
        {% for u in users %}
         <tr>
           <td> {{u.part.label}}</td>
           <!-- <td> {{u.id}}</td> -->
           <td >{{u.how_long|floatformat:"1"}}</td>
           <td >{{u.how_long_2|floatformat:"1"}}</td>
           <td >{{u.part.created_on|date:"m/d/y H:i"}}</td>
           <td >{{u.date_joined|date:"m/d/y H:i"}}</td>


           {% for dat in u.dates%}
               <td >{% for  qid, d in dat %}{{d|date:"m/d/y H:i"}} {%endfor %}</td>
           {%endfor%}
           
            </tr>
         {%endfor %}
    </table>
{% endblock %}
{%block below_table%}
    <div>
        <a href ="/all_answers_key_table/" target = "_blank">Key to answer codes</a>
    </div>
    <div>
        <a href ="/text_answers/" target = "_blank">Text answers</a>
    </div>
    <div>
        <a href ="/" >Back to list of participants</a>
    </div>
{%endblock%}

