{% extends 'wings_main/stats.html' %}
{% load pastquizanswers %}

{%block title%}Key to answer summary{%endblock%}

{% block table %}
    <h1>Text questions:</h1>

       <table border ="1px">
           <tr>
              <th >Question ID</th>
               {% for qu in questions %}
                   {% if qu.is_short_text or qu.is_long_text %}
                       <th title="{{qu.text}}">{{ qu.id}}</th>
                   {%endif %}
               {%endfor%}
           </tr>
           {% for u in users %}
            <tr>
              <td>{{u.part.label}}</td>
              {% for qu in questions %}
                   {% if qu.is_short_text or qu.is_long_text %}
                       <td>
                           {%answer_code_for_stats u qu.id%}
                       </td>
                   {%endif %}
               {%endfor %}
               </tr>
            {%endfor %}
       </table>
    
{% endblock %}

{%block below_table%}
    <div>
        <a href ="javascript:self.close();" >Close this tab</a>
    </div>
{%endblock%}

