<style type="text/css">   
.helpblock-container {
}

.helpblock-container a, .helpblock-container a:link, .helpblock-container a:visited, .helpblock-container a:hover, .helpblock-container a:focus, .helpblock-container a:active {
    float: right;
    margin: 0 10px !important;
    padding 10px 10px 10px 10px !important;
}

.helpblock-container ul {
    list-style-type:none;
}

.helpblock-container ul span {
}

.helpblock-container li {
}

.helpblock-container p span.track-name {
}

.helpblock-container .audio_controls, .helpblock-container .jp-stop-li {
    display:none;
}

div.help_block_box {
     background-color: #E3D8E0;
     float: right;        
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
 }
 
.help_block_box p , {
     padding-left: 5px;
 }

.show_help_link_div  a{
         /*#content .content-nav a#help */
         float: right;
         color: transparent !important;
         height: 53px !important;
         width: 135px !important;
         margin: 0 10px;
         background-image: url('/site_media/img/help_button_bg.png') !important;
         background-position: -20px -15px; 
         background: #bea5b4; /* Old browsers */
         background: -moz-linear-gradient(top,  #bea5b4 0%, #9b7a95 100%); /* FF3.6+ */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bea5b4), color-stop(100%,#9b7a95)); /* Chrome,Safari4+ */
         background: -webkit-linear-gradient(top,  #bea5b4 0%,#9b7a95 100%); /* Chrome10+,Safari5.1+ */
         background: -o-linear-gradient(top,  #bea5b4 0%,#9b7a95 100%); /* Opera 11.10+ */
         background: -ms-linear-gradient(top,  #bea5b4 0%,#9b7a95 100%); /* IE10+ */
         background: linear-gradient(top,  #bea5b4 0%,#9b7a95 100%); /* W3C */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bea5b4', endColorstr='#9b7a95',GradientType=0 ); /* IE6-9 */
         -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
 }

#hide_help_link_div {
    
}
#hide_help_link_div a {

}

    
</style>
