<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" ></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js"	type="text/javascript"></script> 
<script src="/site_media/audio-player/audio-player.js"	type="text/javascript"></script> 

<script>
    AudioPlayer.onStop =  function (a) {
        if (a.indexOf('help_block_') != -1) {    
            // noop for now;
        }
    }
    AudioPlayer.setup("/site_media/audio-player/player.swf ", {  
        width: 150
    });
    
    
    
    function show_help_block(block_id) {
        
        //alert (" showing " + block_id );
        jQuery ('#help_block_box_' + block_id).show();
        jQuery ('#show_help_link_div_' + block_id).hide();
    }
    function hide_help_block(block_id) {
        //alert (" hiding " + block_id );
        jQuery ('#help_block_box_' + block_id).hide();
        jQuery ('#show_help_link_div_' + block_id).show();
    }
    
    // initially hide all help blocks
    function init_help () {
        jQuery ('.help_block_box').hide();
    
        // show_help_block({{block.id}})
    }
    
    jQuery (init_help);
</script>
