{% load smartif %}
           
<div id = "show_help_link_div_{{block.id}}" class="show_help_link_div">
    <a href="javascript:show_help_block();">*HELP*</a>
</div>

<div id = "help_block_box_{{block.id}}" class="help_block_box">
            {% if block.audio_file %}
                            <div id="jquery_jplayer"></div>
                            <div id="jp_container" class="helpblock-container">
                                <p class = "audio_controls">
                                    <span href="/uploads/{{block.audio_file}}" class="track track-default">/uploads/{{block.audio_file}}</span>
                                    ( at <span class="jp-current-time"></span> of <span class="jp-duration"></span> )
                                </p>
                                <ul>
                                    <li><a class="jp-play" href="#">Play help</a></li>
                                    <li><a class="jp-pause" href="#">Pause help</a></li>
                                    <li class="jp-stop-li"><a class="jp-stop" href="#">Stop</a></li>
                                </ul>
                            </div>
            {%else %}
                <i>No help audio uploaded yet.</i>
            {%endif %}
            
            
            {%if block.description %}
                <p>
                    <em>{{block.description}}</em>
                </p>
            {%else %}
                <p>
                   <em>(No help block transcript)</em>
                </p>
            {% endif %}
</div>
