{% load smartif %}

 {% if block.audio_file %}
           
            <div id = "show_help_link_div_{{block.id}}" class="show_help_link_div">
                <a href="javascript:show_help_block();">*HELP*</a>
            </div>

            <div id = "help_block_box_{{block.id}}" class="help_block_box">
		            <div id="jquery_jplayer"></div>
		            <div id="jp_container" class="demo-container">
				            <span href="/uploads/{{block.audio_file}}" class="track track-default">/uploads/{{block.audio_file}}</span>
				            ( at <span class="jp-current-time"></span>
				            of <span class="jp-duration"></span> )
				           
                            <a class="jp-play" href="#">Play</a>
                         
                        <!-- not really needed -->
		            </div>



{%else %}
    <i>No help audio uploaded yet.</i>
{%endif %}

{% if  block.description %}
<p>
    <em>{{block.description}}</em>
</p>
{%else %}
<p>
   <em>(No help block transcript)</em>
</p>
{% endif %}
</div> <!-- end help_block_box_{{block.id}} -->
