<style type="text/css">
    .show_help_link_div, .help_block_box{
        background-color: #dedede;
        width: 160px;
        float: right;
        
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        
        
        
        
        -webkit-border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        
        
        margin: 2px;
        padding: 0 20px;
        border: 2px;

    }
    
    .show_help_link_div {
        text-align: center;
    
    }
    
    .hide_help_link_div {
        text-align: right;
        color: red;
    
    }
     
    .help_block_box p {
        line-height: 100%;
        border: 0 none;
        display: block;
        font-size: 100%;
        margin: 0 0 0;
        padding: 0;
    }
</style>
